body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  font-family: monospace;
  background-color: #003e57;
  -webkit-app-region: drag;
}

#elecTimer {
  margin: 8px;
}

#timer {
  position: absolute;
  right: 10px;
  bottom: 0;
  font-size: 13vw;
}

#timeContainer {
  position: absolute;
  right: 10px;
  bottom: 0;
  padding-right: 10px;
  font-size: 13vw;
}
