body {
  background-color: #003e57;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-app-region: drag;
}

#timer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
  font-family: monospace;
  font-size: 60px;
}

.button {
  pointer-events: none;
  cursor: not-allowed;
  display: none;
}
